# Dependencias de Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno (variables privadas)
.env

# Directorios de producción (si los usas)
dist/
build/

# Sistema operativo
.DS_Store

# Otros
.vscode/
